/target
source.ll
*.h.gch
/llvmtemp
.DS_Store
*.bc
*.dot
*.svg
heaptrack.*
perf.data
perf.data.old

# Created by run-benches.sh
stderr.txt

# Benchmarks
/benchmarks/*/**
!/benchmarks/versions.md

## Curl
!/benchmarks/curl/COPYING
!/benchmarks/curl/bench.bc

## Emacs
!/benchmarks/emacs/COPYING
!/benchmarks/emacs/bench.bc

# Htop
!/benchmarks/htop/COPYING
!/benchmarks/htop/bench.bc

# Make
!/benchmarks/make/COPYING
!/benchmarks/make/bench.bc

# Vim
!/benchmarks/vim/LICENSE
!/benchmarks/vim/bench.bc